:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Header */
/* lOGO */
.logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-primary {
  color: #000000;
}
/*Header Site navigation */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color); /* Цвет ссылки при наведении на нее курсора мыши */
  /* text-decoration: underline; */ /* Добавляем подчеркивание */
}
/* Header connection */
.header-mail,
.header-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* text-decoration: underline; Добавляем подчеркивание */

/* Main Content */
/* Main Hero */
/* Main Quality */
/* Main Work */
/* Main Team */

/* Footer */
.footer {
  background-color: #2f303a;
}
.logo-secondary {
  color: #ffffff;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.footer-email,
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/* a {
.  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */ ;
